<div th:if="${taskDetail.getStatus() == 0}">
    <form th:action="@{'/main/deleteTask'}" method="post">
        <input type="hidden" name="id" th:value="${taskDetail.getFolder().getId()}">
        <input type="hidden" name="idTask" th:value="${taskDetail.getId()}">
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" >Delete</button>
    </form>
</div>
<div th:if="${taskDetail.getStatus() == 1}">
    <form th:action="@{'/main/deleteTask'}" method="post">
        <input type="hidden" name="id" th:value="${taskDetail.getFolder().getId()}">
        <input type="hidden" name="idTask" th:value="${taskDetail.getId()}">
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" >Delete</button>
    </form>
</div>


<div th:if="${taskDetail.getStatus() == 3}">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="display: none">Delete</button>
</div>
<div th:if="${taskDetail.getStatus() == 2}">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="display: none">Delete</button>
</div>
