<div class="card mt-3">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">Main Tasks</h5>
        <div style="display: flex; align-items: center;">
            <div th:each="viewCat : ${viewCategory}">
                <form th:action="@{'/main/deleteCategory'}" method="post">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1" th:text="${viewCat.getName} + ' x'" style="font-size: 17px;
                        margin-right: 10px; border: none;
                        background-color: royalblue; color: #FFFFFF; border-radius: 5%; font-weight: bold">
                    </button>
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel1">Remove Category</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" th:value="${taskDashFolder.getId()}" name="folderId">
                                    <input type="hidden" th:value="${viewCat.getId()}" name="categoryId">
                                    <h5>Do you want to remove category?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button type="button" class="btn btn-warning" style="background-color: #FFFFFF; border:none; color: #000;font-weight: bold; padding: 0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                + Add Category
            </button>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <form th:action="@{'/main/addCategory'}" method="post">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Assign Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <input type="hidden" name="id" class="form-control" th:value="${taskDashFolder.getId()}">
                                    <label style="font-size: 17px;">Category name:</label>
                                </div>
                                <div class="mb-3">
                                    <select name="category" style="width: 100%; padding: 7px 7px 7px 15px; font-size: 17px;">
                                        <option th:each="category : ${categories}"
                                                th:value="${category.getId()}"
                                                th:text="${category.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>